.slider {
    max-width: 400px;
}

.item {
    margin: 40px 0px;
    max-width: 400px;
}

.generalInfoWrapper {

}

.mainBlockItem {
    width: 20em;
    padding: 10px;
    height: 10em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}